body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  header start */
header{
    max-width: 1140px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav  ul{
    display: flex;

align-items: center;
  text-align: end;

}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    margin-right: 40px;
    color: #8987A1;
    font-weight: 400;
}
nav ul li:nth-child(1) a{
   color: #252432;
   font-weight: 400;

}
nav ul li:nth-child(4) a{
   color: #000000;
   font-weight: 400;

}
.cart-navbar{
    display: flex;
    align-items: center;
    gap: 10px;
}
/*  header end */

/* main start */
main{
    max-width: 1140px;
    margin: 0 auto;
}

.hero-fresh{
    
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.hero-fresh div img{
    width: 100%;
}
.title-always{
    color: #000000;
    font-size: 65px;
    font-weight: bold;
}
.title-fresh{
      color: #E95A08;
    font-size: 65px;
    font-weight: bold;
}
.hero-info p{
   
 color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;

}
.all-planets{
margin: 120px 0 210px 0;
}
.planet-title{
    color: #E95A08;
}
.all-planets h3{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #000000;
}
.all-planets p{
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
}
.planet-card{
  text-align: center;
}
.planet-card h4{
font-size: 22px;
color: rgba(17, 17, 17, 1);
font-weight: 400;
    
}
.planet-card h5{
font-size: 22px;
color: rgba(17, 17, 17, 1);
font-weight: bold;
    
}

.planet-card button{
    width: 95%;
    background: #E95A08;
    padding: 19px 80px;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 16px;

}




/* main end */






@media screen and (max-width:576px) {
  nav {
    padding: 0 16px;
  }

  nav ul li a {
    margin-right: 0;
  }
    nav ul li:nth-child(1) a,nav ul li:nth-child(2) a,nav ul li:nth-child(3) a{
  display: none;
}

.hero-fresh{
    flex-direction: column-reverse;
    margin-top: 30px;
}
.hero-info{
    margin: 0 16px;

}
.title-always{
 
    font-size: 24px;
  
}
.title-fresh{
  
    font-size: 24px;

}
.hero-info p{
   
    font-size: 14px;
  

}
 
 .card-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px; 
    margin: 0 10px;
 
  }

  .planet-card {
     width: 100%; 

  }

  .planet-card img {
    width: 100%;
  }

  .planet-card button {
    width: 100%;
    padding: 12px 0;
  } 
   /* .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
  }

  .planet-card {
    width: calc(50% - 8px); 
    box-sizing: border-box;
  }

  .planet-card img {
    width: 100%;
  }

  .planet-card button {
    width: 100%;
    padding: 12px 0;
  } */
}